html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #000;
  color: #e1e1e1;
}

tr:nth-child(even) {
  background-color: #333;
}

th {
  position: sticky;
  background-color: #222;
  top: 0;
}

td {
  padding: 0 4px;
}

button, input {
  background-color: #111;
  color: #e1e1e1;
}

a {
  color: inherit;
  text-decoration: none;
}

header > a {
  text-decoration: underline;
  color: lightblue;
}

h3 {
  margin-bottom: 0;
}

.legend-guide {
  width: 12px;
  height: 12px;
  padding: 0;
}

#legend-table thead th {
  width: 32px;
}

.hidden {
  display: none;
}

.no-vid.no-img {
  background-color: #d81b60;
  color: #eee
}

.no-img {
  background-color: #ff9800;
  color: #111
}

.high-res-img {
  background-color: #00b155;
  color: #111
}

.low-res-img {
  background-color: #ffeb3b;
  color: #111
}

.has-vid.low-res-img {
  background-color: #4fc3f7;
  color: #111
}

.has-vid.high-res-img {
  background-color: #9b00c9;
  color: #fff
}