html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #000;
  color: #e1e1e1;
}

tr:nth-child(even) {
  background-color: #333;
}

th {
  position: sticky;
  background-color: #222;
  top: 0;
}

td {
  padding: 0 4px;
}

button, input {
  background-color: #111;
  color: #e1e1e1;
}

a {
  color: inherit;
  text-decoration: none;
}

header > a {
  text-decoration: underline;
  color: lightblue;
}

h3 {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.no-vid.no-img {
  background-color: #8B1440;
}

.no-img {
  background-color: #c2185b;
}

.high-res-img {
  background-color: #9c27b0;
}

.low-res-img {
  background-color: #00838F;
}

.has-vid.low-res-img {
  background-color: #9c27b0;
}

.has-vid.high-res-img {
  background-color: #4caf50;
}